.chat-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: solid 1px #bababa;
    padding: 10px 16px;
    cursor: pointer;

    img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }

    .chat-card-information {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;

        * {
            margin: 0;
        }

        &>p {
            width: 307px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
            
        }

        .chat-card-data {
            margin-bottom: 5px;

            h5 {
                font-size: 17px;
                float: left;
            }

            p {
                font-size: 12px;
                float: right;
            }
        }
    }

    &:hover{
        background-color: #ededed;
    }
}

@media (max-width: 500px) {
    .chat-card-information {
        &>p {
            width: 205px !important;
        }
    }
}