#chat-group-panel {
    display: flex;
    flex-direction: column;
    background-color: white;

    #contact-option-container {
        width: 100%;
        min-height: 110px;
        max-height: 200px;
        background-color: white;
        padding: 2em 3em 0 3em;
        overflow-y: auto;
        margin-bottom: 10px;

        #contact-added-container {
            width: 100%;
        }

        input {
            position: relative;
            width: 100%;
            border-color: transparent;
            border: none;
            font-family: "Segoe UI";
            border-bottom: solid 2px #64B0F0;

            &:focus {
                outline: none;
            }
        }
    }

    #chat-contacts-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .chat-card-container {
            background-color: white !important;
        }
    }
}

.panel-confirm-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    padding: 30px 0 30px 0;

    button {
        font-size: 25px;
        padding: 12px 12px 14px 14px;
        border-radius: 50%;
    }
}

#chat-create-group-panel {
    #group-information-panel {

        div {
            border-bottom: solid 2px #64B0F0;
        }
    }

    .panel-confirm-panel{
        background-color: inherit;
        padding: 0;
    }
}