#image-carousel-access-page {
    margin: 6em 0 0 0;
    width: 25em;
    border-radius: 8px;
    border: solid 2px #dbdbdb;

    #carouselExampleCaptions, .carousel-inner, .carousel-item{
        height: 100%;
    }

    img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    p, h5{
        -webkit-text-stroke: 0.3px black;
        color: #64B0F0;
    }
}